.footer-container{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-2);
    border-top: 1px solid rgba(225, 220, 220, .4);
}
.footer-container .contacts .logo{
    display: flex;
    align-items: center;
    font-size: 23px;
    color: var(--green);
    font-weight: bold;
    margin-bottom: 1rem;
    color: #111;
}
.footer-container .contacts .socials{
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}
.footer-container .contacts .socials .social{
    padding: .5rem;
    display: flex;
    background: #dbdada;
    border-radius: 50%;
    cursor: pointer;
    transition: 0s ease;
}
.footer-container .contacts .socials .social:hover{
    color: #fff;
    background: var(--green);
    transition: 0s ease !important;
}
.footer-container p{
    color: var(--gray);
    padding: .3rem 0;
    transition: 0s ease !important;
    font-size: 15px;
}
.footer-container .contacts p{
    padding: .1rem 0;
}
.footer-container .contacts .logo p{
    color: #111;
    font-size: 21px;
}
.footer-container .link .link-title{
    color: #111;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 16px;
}
.link .input-container{
    background: #f1f2f2;
    color: #252525;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 12px;
    font-size: 14px;
}
.link .input-container input{
    background: none;
    outline: none;
}